.section {
  padding: $section-padding-y-lg $section-padding-x;

  @include respond(phone) {
    padding: $section-padding-y-lg $section-padding-x-sm;
  }
}

.section-bg--charcoal {
  @include bg-img("charcoal.jpg");
  background-attachment: fixed;
}
